@charset "utf-8";
* {margin:0; padding:0; border:0 none; list-style:none;}
.kt_pass_bnr_item {position:relative; padding:13px;}
.kt_pass_bnr_item::after {content:""; display:block; position:absolute; top:50%; right:22.33333px; width:7px; height:11px; background:url('../images/icon_arr_g.png') no-repeat left top / contain; transform:translateY(-50%);}
.kt_pass_bnr_item * {margin:0; padding:0; list-style:none; border:0 none;}
.kt_pass_bnr_item {display:flex; justify-content:flex-start; align-items:center; gap:12px;}
.kt_pass_bnr_item div.icon {width:44px; min-width:44px; max-width:44px;}
.kt_pass_bnr_item div.icon img {display:block; max-width:100%; height:auto;}
.kt_pass_bnr_item .txt_wrap {display:inline-flex; flex-direction:column; padding-right:20px;}
.kt_pass_bnr_item .txt_wrap span,
.kt_pass_bnr_item .txt_wrap strong {display:block;}
.kt_pass_bnr_item .txt_wrap span {color:#787878; font-size:10px; line-height:1.5em;}
.kt_pass_bnr_item .txt_wrap strong {margin-top:-1.6px; color:#333333; font-size:15px; line-height:1.46666em;}